/* Primary text COLOR #434455 */
/* Secondary text COLOR #2E2F42 */

/* Main Background color #ffffff */
/* Secondary Bachground color #F4F4FD */

/* Main BUTTON FONT-COLOR  #fffffff */
/* Main BUTTON BACKGROUND-COLOR #4D5AE5;*/
/* ACCENT COLOR #404BBF */

/* -------COMMON STYLE FOR BODY ----------------- */
:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --main-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --accent-color: #404bbf;
  --no-active-color: #4d5ae5;
  --third-color: #e7e9fc;
  --icon-color: #8e8f99;
  --icon-accent: #31d0aa;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-overlay-bg: rgba(46, 47, 66, 0.4);
  --modal-bg-color: #fcfcfc;
}
/*-----------RESET BROWSER STYLES-------------------*/
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
/* -----------------------UTILITS------------------------ */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/* ----------------------BODY-COMMON-STYLES */
body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------------------ LOGOTYPE-COMMON-------------------*/
.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo.head {
  color: var(--secondary-text-color);
}

.logo.foot {
  color: var(--secondary-background-color);
  margin-bottom: 16px;
}

.logo .logo-web {
  color: var(--no-active-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo.foot .logo-web {
  text-shadow: none;
}
/* ----------------------------------HEADER-BASE--------------------------------------- */
.page-header {
  border-bottom: 1px solid var(--third-color);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-nav,
.site-contacts {
  display: none;
}
.mobile-menu-open {
  border: none;
  background-color: transparent;
  padding: 0;
}
.mobile-menu-icon {
  display: block;
  stroke: var(--secondary-text-color);
  background-color: transparent;
  width: 32px;
  height: 22px;
  align-items: center;
  transition: stroke 250ms var(--transition-func);
}
.mobile-menu-icon:is(:hover, :focus) {
  stroke: var(--accent-color);
}
/* MOBILE-MENU!!!!!!! */

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  background-color: var(--main-background-color);
  padding: 80px 40px 40px 40px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity 250ms var(--transition-func),
    viibility 250ms var(--transition-func);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-color: var(--third-color);
  border: 1px solid #d9d9d9;
  transition: background-color 250ms var(--transition-func),
    fill 250ms var(--transition-func);
}

.mobile-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-close-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  fill: #ffffff;
  border: none;
}

.mobile-site-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-site-nav a {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  transition: color 250ms var(--transition-func);
}

.contacts-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: auto;
}

.mobile-tel-link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: normal;
  color: #4d5ae5;
  transition: color 250ms var(--transition-func);
}

.mobile-mail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--transition-func);
}

.mobile-nav-title:is(:hover, :focus, :active),
.mobile-tel-link:is(:hover, :focus, :active),
.mobile-mail-link:is(:hover, :focus, :active) {
  color: var(--accent-color);
}

.mobile-sociale-list {
  margin: 48px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.mobile-sociale-link {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--no-active-color);
  justify-content: center;
  align-items: center;
  fill: #fff;
  transition: background-color 250ms var(--transition-func);
}

.mobile-sociale-link:is(:hover, :focus) {
  background-color: var(--accent-color);
}

/* ------------------FOOTER-------------------*/

.footer {
  background-color: var(--secondary-text-color);
  padding: 100px 0;
}
.foot-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-wrap {
  width: 100%;
}
.footer-wrap .foot-text {
  color: var(--third-color);
  width: 264px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  width: 264px;
  /* margin-right: 120px; */
}
.foot-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.foot-social-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-background-color);
}
.foot-list {
  display: flex;
  gap: 16px;
}
.foot-item {
}
.foot-link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  background-color: rgb(255 255 255 / 10%);
  transition: background-color 250ms var(--transition-func);
}
.foot-icon {
  color: var(--main-background-color);
}
.foot-link:hover,
.foot-link:focus {
  background: var(--icon-accent);
}
/* --------------------------------FOOTER-FORM-------------------------- */
.form-foot {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
}
.subscribe-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-foot label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-background-color);
}

.form-foot-input {
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  margin-top: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.form-foot-wrapper {
  display: flex;
  flex-direction: column;
}

.form-foot-btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 165px;
  min-height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-background-color);
  background-color: var(--no-active-color);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms var(--transition-func);
}

.form-foot-icon {
  width: 24px;
  height: 24px;
  fill: var(--main-background-color);
  margin-left: 16px;
}

.form-foot-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
}

/* -------------------------- HERO --------------------------------------- */
.section-hero {
  display: flex;
  width: 100%;
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  display: block;
  max-width: 319px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-background-color);
}
.button-order {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--main-background-color);
  background-color: var(--no-active-color);
  cursor: pointer;
  transition: background-color 250ms var(--transition-func);
}
.button-order:is(:hover, :focus) {
  background-color: var(--accent-color);
}
.overlay {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2x.jpg);
  }
}

/* -------------------FEATURES--------------- */
.features {
  padding-top: 96px;
  padding-bottom: 96px;
}
.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}
.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-list-item {
}
.features-icon-container {
  display: none;
  padding: 24px 100px;
  background-color: var(--secondary-background-color);
  margin-bottom: 8px;
}
.features-icon {
}
/* ----------------------------------WORK----------------------------------- */
.work {
  padding-top: 0;
  padding-bottom: 0;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
/* ----------------------------------TEAM-------------------------------- */
.team {
  background-color: var(--secondary-background-color);
  min-width: 320px;
}
.team-container {
  margin-right: auto;
  margin-left: auto;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
}
.team-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
}
.team-text-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  margin: 0;
}
.team-item-style {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.team-icon-item {
  display: block;
  max-width: 264px;
}
.team-icon {
  width: 16px;
  height: 16px;
}

.team-link {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--no-active-color);
  justify-content: center;
  align-items: center;
  fill: #fff;
  transition: background-color 250ms var(--transition-func);
}

.team-link:hover {
  background-color: var(--accent-color);
}

/* ---------- CUSTOMERS ---------------------- */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.customers-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: color 250ms var(--transition-func);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}

/* ---------- PORTFOLIO COLORS ---------------------- */

/* Button BACKGROUND-COLOR #F4F4FD; */
/* Button FONT-COLOR #4D5AE5 */
/* ACCENT Button BACKGROUND #404BBF */
/* ACCENT Biuttn FONT #ffffff */

/* ----------------------- PORTFOLIO ---------------------------- */

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--no-active-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid var(--third-color);
  border-radius: 4px;
  transition: background-color 250ms var(--transition-func),
    color 250ms var(--transition-func), box-shadow 250ms var(--transition-func);
}
.portfolio-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 48px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
}
.card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.card-link {
  display: block;
  transition: box-shadow 250ms var(--transition-func);
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-item {
  width: 100%;
  /* flex-basis: calc((100% - 2 * 24px) / 3); */
  border: 0px 1px 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.card-text-wrapper {
  padding: 32px 16px;
}
.card-wrapper img {
  width: 100%;
  height: auto;
}
.card-link-text {
  border-left: 1px solid var(--third-color);
  border-right: 1px solid var(--third-color);
  border-bottom: 1px solid var(--third-color);
}

.card-text {
  color: var(--primary-text-color);
}
.card-wrapper {
  position: relative;
  overflow: hidden;
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translateY(0);
}
.card-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  color: var(--secondary-background-color);
  background-color: var(--no-active-color);
  opacity: 0;
  transition: transform 250ms var(--transition-func);
  opacity: 500ms var(--transition-func);
}

/* -----------------------------MODAL WINDOW--------------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms var(--transition-func),
    visibility 250ms var(--transition-func);
}
.modal {
  position: absolute;
  width: calc(100% - 36px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--third-color);
  border: 1px solid #d9d9d9;
  transition: background-color 250ms var(--transition-func),
    fill 250ms var(--transition-func);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  fill: #ffffff;
  border: none;
}

/* -------------------------------------FORM------------------------------------- */
.form {
  display: flex;
  flex-direction: column;
  padding: 72px 16px 24px 16px;
  height: auto;
}

.form-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 0;
}
.form-field-contacts {
  margin-bottom: 8px;
}
.form-label-contacts {
  display: block;
  margin-bottom: 4px;
}
.input-wrapper-contacts {
  position: relative;
}
.form-input-contacts {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 8px 38px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-func);
}

.input-icon-contacts {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms var(--transition-func);
}
.form-input-contacts:is(:hover, :focus),
.textarea-comments:is(:hover, :focus) {
  border-color: var(--no-active-color);
}

.form-input-contacts:is(:hover, :focus) + .input-icon-contacts {
  fill: var(--no-active-color);
}

.form b {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  text-align: center;
}
.form label {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #8e8f99;
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-comments {
  display: flex;
  flex-direction: column;
}
.form-label-comments {
  margin-bottom: 4px;
}
.textarea-comments {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 250ms var(--transition-func);
}

/* -----------------------------------CHECKBOX------------------------------------ */
.form-field-policy {
  margin-bottom: 24px;
}
.form .form-label-policy {
  display: flex;
  align-items: center;
  top: 50%;
  left: 30px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.check-inpute-policy {
}
.input-icon-policy {
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  padding: 2.75px 1.75px;
  fill: #f4f4fd;
  transition: background-color 250ms var(--transition-func),
    border-color 250ms var(--transition-func);
}

.check-input-policy:checked + .input-icon-policy {
  background-color: var(--accent-color);
  border: 1.25px solid var(--accent-color);
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

/*----------------------------SEND-BUTTON--------------------------------------------*/
.form-send-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--main-background-color);
  background-color: var(--no-active-color);
  cursor: pointer;
  transition: background-color 250ms var(--transition-func);
}

.form-send-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
}
