/* Primary text COLOR #434455 */
/* Secondary text COLOR #2E2F42 */

/* Main Background color #ffffff */
/* Secondary Bachground color #F4F4FD */

/* Main BUTTON FONT-COLOR  #fffffff */
/* Main BUTTON BACKGROUND-COLOR #4D5AE5;*/
/* ACCENT COLOR #404BBF */

/* -------COMMON STYLE FOR BODY ----------------- */
:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --main-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --accent-color: #404bbf;
  --no-active-color: #4d5ae5;
  --third-color: #e7e9fc;
  --icon-color: #8e8f99;
  --icon-accent: #31d0aa;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-overlay-bg: rgba(46, 47, 66, 0.4);
  --modal-bg-color: #fcfcfc;
}
/*-----------RESET BROWSER STYLES-------------------*/
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* MAKE IMG BLOCK-STYLE, REMOVE FREE SPACE DOWNSTAIR */
img {
  display: block;
}
/* -----------------------UTILITS------------------------ */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ----------------------BODY-COMMON-STYLES */
body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* -------------------HEADER------------------------- */
.page-header {
  border-bottom: 1px solid var(--third-color);
}
/* ------------------ LOGOTYPE + FOOTER-------------------*/
.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo.head {
  color: var(--secondary-text-color);
}

.logo.foot {
  color: var(--secondary-background-color);
  margin-bottom: 16px;
}

.logo .logo-web {
  color: var(--no-active-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo.foot .logo-web {
  text-shadow: none;
}
.foot-background {
  background-color: var(--secondary-text-color);
  padding: 100px 0;
}

.foot-text {
  color: var(--third-color);
  width: 264px;
}
.foot-container {
  display: flex;
  align-items: baseline;
}
.logo-foot {
  margin-right: 120px;
}
.foot-social {
  margin-right: 80px;
}
.foot-social-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-background-color);
}
.foot-list {
  display: flex;
  gap: 16px;
}
.foot-item {
}
.foot-link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  background-color: rgb(255 255 255 / 10%);
  transition: background-color 250ms var(--transition-func);
}
.foot-icon {
  color: var(--main-background-color);
}
.foot-link:hover,
.foot-link:focus {
  background: var(--icon-accent);
}
/* --------------------------------FOOTER-FORM-------------------------- */
.form-foot {
  display: flex;
  flex-direction: column;
}
.form-foot-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.form-foot-input {
  margin-right: 24px;
}
.form-foot-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  color: #babac2;
  border: 1px solid #ffffff4d;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form-foot-wrapper {
  display: flex;
}
/*  */
.form-foot-btn {
  position: relative;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 64px 8px 24px;
  letter-spacing: 0.04em;
  color: var(--main-background-color);
  background-color: var(--no-active-color);
  cursor: pointer;
  transition: background-color 250ms var(--transition-func);
}

.form-foot-icon {
  position: absolute;
  right: 24px;
  fill: var(--main-background-color);
}
.form-foot-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
}

/* ---------------------------------------SITE-NAV ------------------------------- */

.main-nav,
.page-nav,
.site-nav,
.site-contacts {
  display: flex;
  align-items: center;
}

.site-nav,
.site-contacts {
  gap: 40px;
}

.site-contacts {
  margin-left: auto;
}

.nav-title {
  display: block;
  padding-top: 24px;
  padding-bottom: 23px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  transition: color 250ms var(--transition-func);
}
/* Подсвечиваем ТЕКУЩУЮ ссылку на страницу в шапке, создаем новый класс .current */

.current {
  position: relative;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  pointer-events: none;
  border-radius: 2px;
}
.contacts {
}
.site-contacts .link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
  transition: color 250ms var(--transition-func);
}

.nav-title:hover,
.nav-title:focus,
.nav-title:active,
.contacts:hover,
.contacts:focus,
.contacts:active,
.current {
  color: var(--accent-color);
}

/* -------------------------- HERO --------------------------------------- */
.section-hero {
  display: flex;
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  width: 496px;

  color: var(--main-background-color);
}

.button-order {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--main-background-color);
  background-color: var(--no-active-color);
  cursor: pointer;
  transition: background-color 250ms var(--transition-func);
}
.button-order:hover,
.button-order:focus {
  background-color: var(--accent-color);
}

.overlay {
  max-width: 1440px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  /* Gradient to image - darking picture*/
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* -------------------FEATURES--------------- */
.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
}
.features-icon-container {
  padding: 24px 100px;
  background-color: var(--secondary-background-color);
  margin-bottom: 8px;
}
.features-icon {
}

/* -------------------------- Features + Work + Team-------------------------------------- */
.features-list .title,
.work-list .title,
.team-list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.work {
  padding-top: 0;
}
.work-text-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.work-list,
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
}

.team {
  background-color: var(--secondary-background-color);
}
.team-item-style {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.team-icon-item {
}
.team-icon {
  width: 16px;
  height: 16px;
}

.team-link {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--no-active-color);
  justify-content: center;
  align-items: center;
  fill: #fff;
  transition: background-color 250ms var(--transition-func);
}

.team-link:hover {
  background-color: var(--accent-color);
}

/* ---------- CUSTOMERS ---------------------- */
.customers {
}
.section {
}
.container {
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  width: 168px;
  height: 88px;
}

/* на Link - основной цвет,
Іконка наследует его через currentColor,
на link - Hover с акцентом на бордер + текст(іконку)  */
.customers-link {
  display: flex;
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  /* fill: var(--icon-color); */
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: color 250ms var(--transition-func);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}
/* SECOND VARIANT */

/* .customers-link .customers-icon:hover,
.customers-link .customers-icon:focus {
  fill: var(--accent-color);
} */

/* ---------- PORTFOLIO COLORS ---------------------- */

/* Button BACKGROUND-COLOR #F4F4FD; */
/* Button FONT-COLOR #4D5AE5 */
/* ACCENT Button BACKGROUND #404BBF */
/* ACCENT Biuttn FONT #ffffff */

/* ----------------------- PORTFOLIO ---------------------------- */

.portfolio {
  padding-top: 96px;
}

.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--no-active-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--third-color);
  border-radius: 4px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  transition: background-color 250ms var(--transition-func),
    color 250ms var(--transition-func), box-shadow 250ms var(--transition-func);
}
.portfolio-btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-link {
  display: block;
  transition: box-shadow 250ms var(--transition-func);
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-item {
  width: 360px;
  /* flex-basis: calc((100% - 2 * 24px) / 3); */
  border: 0px 1px 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.card-text-wrapper {
  padding: 32px 16px;
}
.card-link-text {
  border-left: 1px solid var(--third-color);
  border-right: 1px solid var(--third-color);
  border-bottom: 1px solid var(--third-color);
}

.card-text {
  color: var(--primary-text-color);
}
.card-wrapper {
  position: relative;
  overflow: hidden;
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translateY(0);
}
.card-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  color: var(--secondary-background-color);
  background-color: var(--no-active-color);
  opacity: 0;
  transition: transform 250ms var(--transition-func);
  opacity: 500ms var(--transition-func);
}

/* -----------------------------MODAL WINDOW--------------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  /* visibility: 250ms var(--transition-func); */
  transition: opacity 250ms var(--transition-func),
    visibility 250ms var(--transition-func);
}
.modal {
  position: absolute;
  min-height: 576px;
  width: 408px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--third-color);
  border: 1px solid #d9d9d9;
  transition: background-color 250ms var(--transition-func),
    fill 250ms var(--transition-func);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  fill: #ffffff;
  border: none;
}

/* -------------------------------------FORM------------------------------------- */
.form {
  display: flex;
  flex-direction: column;
  padding: 72px 24px 24px 24px;
}

.form-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 0;
}
.form-field-contacts {
  margin-bottom: 8px;
}
.form-label-contacts {
  display: block;
  margin-bottom: 4px;
}
.input-wrapper-contacts {
  position: relative;
}
.form-input-contacts {
  width: 100%;
  height: 40;
  margin: 0;
  padding: 8px 38px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-func);
}

.input-icon-contacts {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms var(--transition-func);
}
.form-input-contacts:is(:hover, :focus),
.textarea-comments:is(:hover, :focus) {
  border-color: var(--no-active-color);
}

.form-input-contacts:is(:hover, :focus) + .input-icon-contacts {
  fill: var(--no-active-color);
}

.form b {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}
.form label {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #8e8f99;
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-comments {
  display: flex;
  flex-direction: column;
}
.form-label-comments {
  margin-bottom: 4px;
}
.textarea-comments {
  width: 360px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 250ms var(--transition-func);
}

/* -----------------------------------CHECKBOX------------------------------------ */
.form-field-policy {
  margin-bottom: 24px;
}
.form .form-label-policy {
  display: flex;
  align-items: center;
  top: 50%;
  left: 30px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}
.check-inpute-policy {
}
.input-icon-policy {
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  padding: 2.75px 1.75px;
  fill: #f4f4fd;
  transition: background-color 250ms var(--transition-func),
    border-color 250ms var(--transition-func);
}

.check-input-policy:checked + .input-icon-policy {
  background-color: var(--accent-color);
  border: 1.25px solid var(--accent-color);
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

/*----------------------------SEND-BUTTON--------------------------------------------*/
.form-send-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--main-background-color);
  background-color: var(--no-active-color);
  cursor: pointer;
  transition: background-color 250ms var(--transition-func);
}

.form-send-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
}
